body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Archivo Black', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#control{
  display: flex;
  justify-content: flex-end;
}

/* #map{
  width: 50%;
  height: 50%;
} */

#test{
  /* display: flex; */
  /* justify-content: center; */
}
